 <!DOCTYPE html>
<html lang="en">
 <head>
	
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/deagan.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css' />
	<!--
	<script type="text/javascript" src="js/modernizr.custom.69142.js"></script> 
	
	-->
    </head>

    
    <body>
	<div class="container">
	
	  <!-- Top bar -->
	  <div class="codrops-top">
		
		<span class="left">
			<a>Deagan Monahan</a>
		    <a><strong>FACEBOOK FEED</strong></a>
		</span>
		<span class="right">
		<a href="/logout"><strong>Logout</strong></a>
		<a>{{user.username}}{{user.displayName}}</a>
		</span>
		<div class="clr"></div>
	    </div>
	    <!--/ Top bar -->
    
			<header>
				<h1><span>Assignment 1</span> OAuth</h1>
				
			</header>
    
    </div>
    
    
    <div class="container demo-1">
    <ul class="grid cs-style-1">
   
				{{#each photos}}
				<li>
					<figure>
						
						<img src="{{url}}">
						<figcaption>
							<h3>"Description"</h3>
							<span>Poster Name</span>
							<a href="{{url}}">Take a look</a>
						</figcaption>
					</figure>
				</li>
				{{/each}}
  
    
    
    
				
				
			</ul>
    
    
    
    
    </div>
    
    
    
    <!--
    
     {{#each imageArray}}
              <div class="col-xs-4" class="images" style="text-align:center">
                <img src="{{url}}" class="img-responsive" class="img hashtag-img"><br>
                <form id="saveHashTag" role="form" method="post" action="/save">
                  <input type="hidden" name="hashtag" value="{{../hashtagValue}}">
                  <input type="hidden" name="url" value="{{url}}">
                  <button type="submit" class="btn btn-info">Save</button>
                </form>
                <br><br>
              </div>
            {{/each}}
    
    
   
    
    
    -->
    
    
    
    
    
    
    
<!--
<img src= "http://d3o47n6kn1r59u.cloudfront.net/images/dogbreeds/large/Bull-Terrier.jpg" class="resize">

-->


<script src="js/toucheffects.js"></script>



</body>

</html>

